<head>
    <style>
/*    table, td {
        border: 1px solid black;
      }
      table {
        border-collapse: collapse;
      }*/
    </style>

</head>

<body>

  <h1>Welcome to Suggestotron</h1><br>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Votes</th>
        <th colspan="7"></th>
      </tr>
    </thead>

    <tbody>
      <img src="http://i.imgur.com/MQHYB.jpg" height="100" /><br><br>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to topic.title, topic_path(topic) %></td>
          <td><%= pluralize(topic.votes.count - topic.down_votes.count, "vote") %></td>
          <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
          <td><%= button_to '-1', downvote_topic_path(topic), method: :post %></td>
          <td><%= link_to 'Show', topic %></td>
          
          <% if current_user == topic.user %>
            <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
            <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Create a New Topic', new_topic_path %>
</body>
